:root {
	font-family:'Courier New', Courier, monospace;
	user-select: none;

	--bg-color: #292929;
	--board-color: #969696;
}

body {
	margin: 0;
	background-color: var(--bg-color);
}

body, .head, .word, .word *, .customize, .customize div, .customize label, .menu { display: flex; }
body, .customize, .customize div, .menu { flex-direction: column; }
body, .head, .word, .word *, .customize, .customize label, .menu { align-items: center; }
.word span, .customize, .menu-wrapper { justify-content: center; }

.head img { height: 190px; }

.head svg {
	height: 5rem;
	font-size: 4rem;
	font-weight: bold;	
	text-transform: uppercase;
	letter-spacing: 3px;
	-webkit-text-stroke: 2px red	;
}

.head text {
	fill: var(--board-color);
	stroke: var(--bg-color);
	stroke-width: 3px;
	stroke-linejoin: round;
}

.head .first-letter { font-size: 5.2rem; }

.head text.outline {
	 stroke: var(--board-color);
	 stroke-width: 6px;
}

.hangman {
	margin: 0 0 10px;
	position: relative;
	z-index: -1;
	background-color: var(--board-color);
	border: 3px solid var(--bg-color);
	border-radius: 3px;
	outline: 3px solid var(--board-color);
}

.word {
	height: fit-content;
	min-height: 85px;
	margin: 0 0 15px;
	flex-wrap: wrap;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--board-color);
	user-select: none;
}

.word span {
	width: 3.5rem;
	margin: 0 7px;
	position: relative;
	z-index: 1;
	font-size: 4rem;
	color: transparent;
}

.word span.guessed { color: var(--board-color); }

.word span:not(.whitespace)::before {
	content: '';
	width: calc(100% + 4px);
	height: 5px;
	position: absolute;
	left: -2px;
	bottom: 10px;
	z-index: -1;
	background-color: var(--board-color);
	border-radius: 10px;
}

.bottom {
	height: fit-content;
	min-height: 160px;
	display: grid;
	grid-template-areas:
		"customize keyboard keyboard menu"
	;
	place-items: center;
	gap: 25px;
}

.customize-wrapper { grid-area: customize; }
.keyboard-wrapper { grid-area: keyboard; }
.menu-wrapper { grid-area: menu; }

.customize {
	gap: 10px;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--board-color);
}

.customize div, .customize label { gap: 5px; }
.customize label, .color-picker::-webkit-color-swatch { cursor: pointer; }

.color-picker {
	appearance: none;
	width: 25px;
	height: 25px;
	padding: 0;
	border: 2px solid var(--board-color);
}

.color-picker::-webkit-color-swatch-wrapper { padding: 0; }
.color-picker::-webkit-color-swatch { border: none; }

.reset, .new-game {
	appearance: none;
	padding: 4px 8px;
	font-size: 1.2rem;
	font-weight: bold;
}

.reset, .keyboard button, .new-game {
	text-transform: uppercase;
	color: var(--board-color);
	background-color: var(--bg-color);
	border: 2px solid var(--board-color);
	border-radius: 2px;
	cursor: pointer;
}

.reset:hover, .keyboard button:hover, .new-game:hover {
	color: var(--bg-color);
	background-color: var(--board-color);
	border-color: var(--bg-color);
	outline: 2px solid var(--board-color);
}

.keyboard {
	display: grid;
	grid-template-areas:
		"a b c d e f g h i j"
		"k l m n o p q r s t"
		". . u v w x y z . ."
	;
	gap: 10px 10px;
}

.keyboard button {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.75rem;
}

.menu {
	width: fit-content;
	min-width: 140px;
	gap: 10px;
}

.hint {
	width: 150px;
	margin: 0;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	color: var(--board-color);
}

.disabled {
	color: var(--bg-color) !important;
	background-color: var(--board-color) !important;
	cursor: default !important;
}

.disabled:hover {
	border-color: var(--board-color) !important;
	outline: none !important;
}

.disabled span {
	position: relative;
	top: -4px;
}
