:root {
	font-family:'Courier New', Courier, monospace;
	user-select: none;

	--bg-color: #292929;
	--board-color: #969696;
}

body {
	margin: 0;
	background-color: var(--bg-color);
}

body, .head, .word, .word * { display: flex; }
body { flex-direction: column; }
body, .head, .word, .word * { align-items: center; }
.word span { justify-content: center; }

.head img { height: 200px; }

.head svg {
	height: 5rem;
	font-size: 4rem;
	font-weight: bold;	
	text-transform: uppercase;
	letter-spacing: 3px;
	-webkit-text-stroke: 2px red	;
}

.head text {
	fill: var(--board-color);
	stroke: var(--bg-color);
	stroke-width: 3px;
	stroke-linejoin: round;
}

.head .first-letter { font-size: 5.2rem; }

.head text.outline {
	 stroke: var(--board-color);
	 stroke-width: 6px;
}

.hangman {
	margin: 0 0 10px;
	position: relative;
	z-index: -1;
	background-color: var(--board-color);
	border: 3px solid var(--bg-color);
	border-radius: 3px;
	outline: 3px solid var(--board-color);
}

.word {
	height: fit-content;
	min-height: 85px;
	margin: 0 0 15px;
	flex-wrap: wrap;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--board-color);
	user-select: none;
}

.word span {
	width: 3.5rem;
	margin: 0 7px;
	position: relative;
	z-index: 1;
	font-size: 4rem;
	color: transparent;
}

.word span.guessed { color: var(--board-color); }

.word span:not(.whitespace)::before {
	content: '';
	width: calc(100% + 4px);
	height: 5px;
	position: absolute;
	left: -2px;
	bottom: 10px;
	z-index: -1;
	background-color: var(--board-color);
	border-radius: 10px;
}
